html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

h1 {
  margin: 0;
  padding: 15px;
  color: white;
  background-color: steelblue;
  text-align: center;
}

h1 small {
  color: #edf4f9;
}

.container {
  width: 600px;
  margin: 50px auto 0;
  display: flex;
}

.container div {
  flex-grow: 1;
}

table {
  margin: 0;
  border-collapse: collapse;
  text-align: center;
}

td {
  border: 1px solid steelblue;
}

.map td {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: bottom;
}

.map .axis {
  border: none;
}

.map .axis span {
  display: inline-block;
  margin-top: 10px;
}

textarea {
  width: 100%;
  min-height: 200px;
  font-size: 16px;
  padding: 10px;
  font-family: monospace;
}

button {
  display: inline-block;
  width: 49%;
  background: steelblue;
  color: #f5f5f5;
  border: none;
  margin: 20px auto;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button:disabled {
  background-color: grey;
  cursor: inherit;
}
button:disabled:hover {
  opacity: 1;
}

.NORTH {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid steelblue;
}

.SOUTH {
  display: inline-block;
  margin-top: 18px;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid steelblue;
}

.EAST {
  display: inline-block;
  margin-left: 18px;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid steelblue;
}

.WEST {
  display: inline-block;
  margin-right: 18px;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 18px solid steelblue;
}

.error {
  color: red;
}

h3 {
  width: 600px;
  margin: 10px auto;
}

#result {
  width: 600px;
  min-height: 150px;
  background-color: #e5e5e5;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px;
  font-family: monospace;
}

#result p {
  margin: 6px 0;
}
